<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <!-- Stylesheets -->
    <link href="/assets/css/app.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="DeNieuweRekening">

    <!-- Naviation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="visible-xs-block"><a href="#/">Home</a></li>
            <li class="visible-xs-block"><a href="#/turven">Turven</a></li>
            <li class="visible-xs-block"><a href="#/statistieken">Statistieken</a></li>
            <li class="visible-xs-block"><a href="#/declas">Declaratie</a></li>
            <li class="visible-xs-block"><a href="#/eetlijst">Eetlijst</a></li>
            <li class="visible-xs-block"><a href="#/invoer">Invoer van uitgaven en inkomen</a></li>
            <li class="visible-xs-block"><a href="#/admin">Admin pagina</a></li>
            <li class="visible-xs-block"><a href="#/personal">Persoonlijke instellingen</a></li>
            <li class="visible-xs-block"><a href="#/rekening">Rekening maken</a></li>
            <li class="visible-xs-block"><a href="#/create_account">Maak account aan</a></li>
            <li class="visible-xs-block"><a href="#/huis_aanmaken">Maak huis aan</a></li>
            
            <li><a href="#/personal">Bart Keulen</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log uit</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <!-- sidebar left -->
        <div class="col-sm-3 col-md-2 sidebar-left hidden-xs">
          <ul class="nav nav-sidebar">
            <li><a href="#/">Home</a></li>
            <li><a href="#/turven">Turven</a></li>
            <li><a href="#/statistieken">Statistieken</a></li>
            <li><a href="#/declas">Declaratie</a></li>
            <li><a href="#/eetlijst">Eetlijst</a></li>
            <li><a href="#/invoer">Invoer van uitgaven en inkomen</a></li>
            <li><a href="#/admin">Admin pagina</a></li>
            <li><a href="#/personal">Persoonlijke instellingen</a></li>
            <li><a href="#/rekening">Rekening maken</a></li>
            <li><a href="#/create_account">Maak account aan</a></li>
            <li><a href="#/huis_aanmaken">Maak huis aan</a></li>
          </ul>
        </div>

        <!-- main area -->
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
          

          <ng-view></ng-view>
        

        </div>

        <!-- sidebar right -->

        <div class="hidden-sm hidden-xs col-md-2 sidebar-right-md">
          
        </div>
        
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12 sidebar-right-sm">
            
          </div>
        </div>

      </div>      
    </div>

    <script src="/assets/js/app.js"></script>

    <!-- Angular Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <script src="/assets/js/angular_app.js"></script>
  </body>
</html>