<h1>Declaratie's</h1>

<p>Welkom {{ name }}</p>

<div class="row">
	<div class="col-sm-4">

		<form class="form">
			<div class="form-group">
				<label for="wat" class="control-label">Wat</label>
				<div class="">
					<input type="text" class="form-control" id="wat">
				</div>
			</div>
			<div class="form-group">
				<label for="bedrag" class="control-label">Bedrag</label>
				<div class="input-group">
					<div class="input-group-addon">&euro;</div>
					<input type="text" class="form-control" id="bedrag">
				</div>
			</div>
			<div class="form-group">
				<label for="Datum" class="control-label">Datum</label>
				<div class="">
					<input type="date" class="form-control" id="datum">
				</div>
			</div>
			<div class="radio">
				<label for="">
					<input type="radio" name="declasRadio" id="optie1" value="1">
					Iedereen
				</label>
				<label for="">
					<input type="radio" name="declasRadio" id="optie2" value="2">
					Kies personen
				</label>
			</div>
			<button class="btn btn-primary">Toevoegen</button>
		</form>
	</div>


	<div class="col-xs-8 col-sm-7 col-sm-offset-1">
		<div class="deelnemers">

			<label class="control-label">Deelnemers</label>
			
			<form class="form-group form-inline">
				<div class="form-group">
					<button type="button" class="btn btn-default" aria-expanded="false">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
					<input type="text" class="form-control form-number" style="width: 3em" value="0">
					<button type="button" class="btn btn-default" aria-expanded="false">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</button>
					<input type="text" class="form-control">
				</div>
			</form>
			<form class="form-group form-inline">
				<div class="form-group">
					<button type="button" class="btn btn-default" aria-expanded="false">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
					<input type="text" class="form-control form-number" style="width: 3em" value="0">
					<button type="button" class="btn btn-default" aria-expanded="false">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</button>
					<input type="text" class="form-control">
				</div>
			</form>
			<form class="form-group form-inline">
				<div class="form-group">
					<button type="button" class="btn btn-default" aria-expanded="false">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
					<input type="text" class="form-control form-number" style="width: 3em" value="0">
					<button type="button" class="btn btn-default" aria-expanded="false">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</button>
					<input type="text" class="form-control">
				</div>
			</form>
			
		</div>

	</div>
</div>



