<h1>Declaratie's</h1>

<div class="row">
	<div class="col-sm-4">

		<form class="form">
			<div class="form-group">
				<label for="wat" class="control-label">Wat</label>
				<div class="">
					<input type="text" class="form-control" id="wat">
				</div>
			</div>
			<div class="form-group">
				<label for="bedrag" class="control-label">Bedrag</label>
				<div class="input-group">
					<div class="input-group-addon">&euro;</div>
					<input type="text" class="form-control" id="bedrag">
				</div>
			</div>
			<div class="form-group">
				<label for="Datum" class="control-label">Datum</label>
				<div class="">
					<input type="date" class="form-control" id="datum">
				</div>
			</div>
		</form>


		
	</div>
	<div class="col-sm-6 col-sm-offset-1">
		
		<label for="wat" class="control-label">Deelnemers</label>
			
		<form class="form-inline">
			<div class="form-group">
				<button type="button" class="btn btn-default" aria-expanded="false">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<input type="text" class="form-control form-number" style="width: 3em" value="0">
				<button type="button" class="btn btn-default" aria-expanded="false">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</button>
				<input type="text" class="form-control">
			</div>
		</form>
	</div>
</div>



