/*
 * Turven
 */

.huisgenoten-turven {
	margin-top: 25px;
}

.button-turven {
	float: left;
	width: 90px;
	height: 90px;
	margin: 2px;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;

	&:hover {
		background-color: red;
	}

	p {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 1em;
	}

	h1 {
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 2em;
	}
}

.col-xs-12 {
	margin-bottom: 25px;
}

.toevoegen-turven {
	text-align: center;

	button {
		display: inline-block;
	}

	.btn-default {
		width: 150px;
	}

	.btn-primary {
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
