/*
 * Turven
 */

.huisgenoten-turven {
	padding: 0px;
}

.huisgenoot-turven {
	display: inline-block;
	margin: 1px;
	text-align: center;

}

.turven-turven {
	padding: 0px;
}

.turf-turven {
	display: inline-block;
	margin: 1px;
	text-align: center;
}