<h1>Turven</h1>

<div class="row">
	<div class="col-sm-6 col-xs-12 huisgenoten-turven">
		<button class="button-turven" ng-repeat="huisgenoot in huisgenoten" ng-click="addHuis($index)">
			<span>{{ huisgenoot.name }}</span>
		</button>
	</div>
	<div class="col-sm-6 col-xs-12">
		<button class="button-turven" ng-repeat="turf in turfartikelen" ng-click="addTurf($index)">
			<span>{{ turf.name }}</span>
		</button>
	</div>
</div>
<div clas="row row-turven">
	<button class="btn btn-primary" ng-click="turven()">Turven</button>	
</div>